.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: var(--main-navbar-color);
  color: var(--main-navbar-font-color);
}

.main-nav h1 {
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links li {
  font-size: 17px;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-links li:hover {
  color: var(--main-navbar-font-color);
}

.not-active-tab {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid transparent;
}

.active-tab {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--main-navbar-font-color);
}

@media (max-width: 620px) {
  .main-nav {
    padding: 1rem;
  }
}
