.search {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid silver;
  outline: none;
  font-size: 1rem;
  width: 30%;
  background-color: var(--search-background-color);
}

.search input:focus {
  border: 2px solid blue;
}

@media (max-width: 768px) {
  .search input {
    width: 80%;
  }
}
