.loader {
  text-align: center;
  margin-top: 5rem;
}

.loaderIcon {
  font-size: 2rem;
  color: rgb(50, 50, 255);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
